#stage
{
 width: 600px;
 height: 600px;
 top: 10px;
 left: 50px;
 position: relative;
}
#background
{
 width: 600px;
 height: 600px;
 position: absolute;
 top: 0px;
 left: 0px;
 background-image: url(bg2.png);
}
#cannon
{
 width: 40px;
 height: 40px;
 position: absolute;
 top: 510px;
 left: 270px;
 background-image: url(connon.png);
}
#alien
{
 width: 40px;
 height: 40px;
 position: absolute;
 top: 40px;
 left: 280px;
 background-image: url(gomer1.png);
}
#missile
{
 width: 20px;
 height: 20px;
 position: absolute;
 top: 480px;
 left: 280px;
 background-image: url(donut.png);
}
#output
{
	font-family: Comic Sans MS, Arial , sans-serif;
 font-size: 20px;
 color: #FF1493;
}
button
 {
	position: relative;
	width:100px;
	height:40px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
	line-height:43px;
	font-family:'Oswald', Helvetica;
	display: block;
	margin: 15px;
}
button:before {
	background:#f0f0f0;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
	box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
	
	position: absolute;
	content: "";
	left: -6px; right: -6px;
	top: -6px; bottom: -10px;
	z-index: -1;
}

button:active {
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	top:5px;
}
button:active:before{
	top: -11px;
	bottom: -5px;
	content: "";
}

button {
	text-shadow:-1px -1px 0 #A84155;
	background: #D25068;
	border:1px solid #D25068;
	
	background-image:-webkit-linear-gradient(top, #F66C7B, #D25068);
	background-image:-moz-linear-gradient(top, #F66C7B, #D25068);
	background-image:-ms-linear-gradient(top, #F66C7B, #D25068);
	background-image:-o-linear-gradient(top, #F66C7B, #D25068);
	background-image:linear-gradient(to bottom, #F66C7B, #D25068);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

button:hover {
	background: #F66C7B;
	background-image:-webkit-linear-gradient(top, #D25068, #F66C7B);
	background-image:-moz-linear-gradient(top, #D25068, #F66C7B);
	background-image:-ms-linear-gradient(top, #D25068, #F66C7B);
	background-image:-o-linear-gradient(top, #D25068, #F66C7B);
	background-image:linear-gradient(top, #D25068, #F66C7B);
}
#main
{
width:700px;
height: 800:px;
margin: auto;
	background-color: #FFD700;
}
#explosion {
	width: 40px;
height: 40px;
position:  absolute;
top: 40px;
left: 160px;
background-image: url(gomer2.png);
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    display: none;
}
h1
{
	font-family: Comic Sans MS, Arial , sans-serif;
 color: #FF1493;
 font-size: 36px;
 text-align:center;
}
body 
{
	background-image: url(bg1.jpg);
}
